<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-left-left">
                <img src="/images/logo-without-bg.png" alt="Decor 24X7" class="footer-logo">

            </div>
            <div class="contact-info">
                <h2><strong>Contact Showroom</strong></h2>
                <p>Kothanur dinne Main Road, Nagarabavi, <br>RBI Layout, JP Nagar 7th Phase, <br> J. P. Nagar,
                    Bengaluru,
                    Karnataka 560078</p>
                <p>096111 01459</p>
                <p>098450 87213</p>
                <p><a href="mailto:sales@qoakinteriors.com">sales@qoakinteriors.com</a></p>
            </div>
            <div class="company-info">
                <h3>Company</h3>
                <ul>
                    <li><a href="/About">About Us</a></li>
                    <li><a href="/Contact">Get in Touch</a></li>
                    <li><a href="/Service">Services</a></li>
                    {{!-- <li><a href="#">Privacy Policy</a></li> --}}
                </ul>
            </div>
            <div class="services-info">
                <h3>Services</h3>
                <ul>
                    <li><a href="/Service">Modular Interiors</a></li>
                    <li><a href="/Service">Kitchen Interiors</a></li>
                    <li><a href="/Service">Bedroom Interiors</a></li>
                    <li><a href="/Service">Living Room Interiors</a></li>
                    <li><a href="/Service">Bathroom Interiors</a></li>
                    <li><a href="/Service">Pooja Room Interiors</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>