<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-left-left">
                <img src="/images/Logo-removebg-preview.png" alt="Oracalee Infra" class="footer-logo">
            </div>
            <div class="contact-info">
                <h2><strong>Contact Showroom</strong></h2>
                <p>Taramandal near LIC Head Office <br>
                    Gorakhpur Uttar Pradesh , 273016</p>
                <br>
                <p>+91 7800777758</p>
                {{!-- <p>098450 87213</p> --}}
                <br>
                <p><a href="mailto:oracaleeinfra@gmail.com">oracaleeinfra@gmail.com</a></p>
            </div>
            <div class="company-info">
                <h3>Company</h3>
                <ul>
                    <li><a href="/About">About Us</a></li>
                    <li><a href="/Contact">Get in Touch</a></li>
                    <li><a href="/Service">Services</a></li>
                </ul>
            </div>
            <div class="services-info">
                <h3>Services</h3>
                <ul>
                    <li><a href="/interior-design">Modular Interiors</a></li>
                    <li><a href="/kitchen">Kitchen Interiors</a></li>
                    <li><a href="/flooring">Flooring Interiors</a></li>
                    <li><a href="/painting">Painting</a></li>
                    <li><a href="/gypsum-ceiling">Gypsum Ceiling</a></li>
                    <li><a href="/plumbing">Plumbing</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>