<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oraclee Infra | Interior & Exterior Designer</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Toastr JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/Logo-removebg-preview.png?updatedAt=1724252699439"
                    alt="">
            </a>
        </div>
        <div class="menu">
            <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Service">Service</a></li>
            </ul>
        </div>
    </header>