<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/Logo.jpg" alt="">
            </a>
        </div>
        <div class="menu">
            <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Service">Service</a></li>
            </ul>
        </div>
    </header>