<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/bathroom/1.jpeg" alt="">
            <p>Modern and stylish, this bathroom design combines elegance with functionality for your daily routine.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/2.jpg" alt="">
            <p>Revamp your space with our chic bathroom interiors that seamlessly blend luxury and comfort.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/3.jpeg" alt="">
            <p>Experience the perfect mix of contemporary design and practical features in our bathroom solutions.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/6.avif" alt="">
            <p>Our elegant bathroom designs offer a serene retreat with their sophisticated and calming aesthetics.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/7.jpeg" alt="">
            <p>Transform your bathroom into a stylish sanctuary with our modern and luxurious design options.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/8.jpeg" alt="">
            <p>Enhance your bathing experience with our thoughtfully designed interiors that prioritize both style and
                comfort.</p>
        </div>
        <div class="imgs">
            <img src="/images/bathroom/9.jpeg" alt="">
            <p>Indulge in elegance and functionality with our meticulously crafted bathroom spaces that cater to your
                needs.</p>
        </div>
    </div>


    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>