<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/4.jpg?updatedAt=1724252671044" alt="">
            <p>Create your sanctuary with a bedroom designed for ultimate comfort and style</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/3.jpeg?updatedAt=1724252670957" alt="">
            <p>Transform your bedroom into a peaceful retreat with our elegant, modern designs.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/7.jpg?updatedAt=1724252670928" alt="">
            <p>Experience serenity every night with a bedroom interior that’s both chic and cozy.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/2.jpeg?updatedAt=1724252670896" alt="">
            <p>Elevate your personal space with a bedroom that’s tailored to your taste and comfort.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/6.jpeg?updatedAt=1724252670922" alt="">
            <p>Create a stylish and serene environment that ensures a restful night’s sleep</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/5.jpeg?updatedAt=1724252670918" alt="">
            <p>Turn your bedroom into a haven of tranquility with soft textures and soothing colors.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/1.jpg?updatedAt=1724252670798" alt="">
            <p>Let your bedroom be a reflection of your personality with bespoke interiors designed just for you.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/bedroom/8.webp?updatedAt=1724252670732" alt="">
            <p>Relax and recharge in a space that blends luxury with functionality.</p>
        </div>
    </div>

    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>