{{>header}}
<main>
    <section class="contact-hero">
        <img src="https://ik.imagekit.io/kvytj0hxj/Avaintern/contact.webp?updatedAt=1720341224435" alt="">
        <div class="hero-content">
            <h1>Contact Us</h1>
            <p>We'd love to hear from you!</p>
        </div>
    </section>

    <section class="contact-info">
        <div class="container">
            <div class="contact-details">
                <h2>Contact Showroom</h2>
                <p>Kothanur dinne Main Road, Nagarabavi, RBI Layout, JP Nagar 7th Phase, J. P. Nagar, Bengaluru,
                    Karnataka 560078</p>
                <p>Phone: 096111 01459</p>
                <p>Phone: 098450 87213</p>
                <p>Email: <a href="mailto:sales@qoakinteriors.com">sales@qoakinteriors.com</a></p>
            </div>
            <div class="contact-details">
                <h2>Contact Factory</h2>
                <p>No.187, Late Lingaraju Layout Road, Behind Nayara Petrol bunk, Puttenahalli, JP Nagar 7th Phase,
                    Bangalore, Karnataka 560078</p>
                <p>Phone: 099861 55595</p>
                <p>Monday to Sunday, 10:30 am – 8:30 pm</p>
            </div>
        </div>
    </section>

    <section class="contact-form-section">
        <div class="container">
            <h1>Get in Touch</h1>
            <form class="contact-form" id="contactForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone" placeholder="Enter your Phone Number" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" placeholder="Write your message... "
                        required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>
</main>

{{>footer}}
<script src="/javascripts/script.js"></script>
</body>

</html>