<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/5.jpeg?updatedAt=1724252745107" alt="">
            <p>Brighten up your room with our vibrant curtains, designed to bring a splash of color to your space.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/6.jpeg?updatedAt=1724252745095" alt="">
            <p>Our sophisticated curtains offer a seamless blend of style and functionality for a modern look.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/7.jpg?updatedAt=1724252745021" alt="">
            <p>Experience luxury with our elegantly designed curtains that add a touch of refinement to any room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/4.jpeg?updatedAt=1724252745092" alt="">
            <p>Enhance your home’s ambiance with our chic curtains that provide both beauty and privacy.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/2.avif?updatedAt=1724252745117" alt="">
            <p>Our curtains come in various styles to suit any decor, offering both charm and practicality.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/10.jpeg?updatedAt=1724252745001" alt="">
            <p>Choose from our selection of luxurious curtains to complement your space with elegance and ease.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/9.jpg?updatedAt=1724252744994" alt="">
            <p>Our versatile curtains are perfect for creating a cozy atmosphere while enhancing your room's aesthetics.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/1.jpeg?updatedAt=1724252744971" alt="">
            <p>Elevate your interior design with our range of stylish curtains that balance form and function.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/curtains/8.jpg?updatedAt=1724252744803" alt="">
            <p>Transform your windows with our exquisite curtains that offer both style and comfort for any space.</p>
        </div>
    </div>



    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>