<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/electronic-products/1.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/2.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/3.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/4.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/5.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/6.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/8.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>

    </div>

    {{>footer}}
</body>

</html>