<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/9.jpg?updatedAt=1724252764785"
                alt="">
            <p>Illuminate your space with our expert electrical installations, blending safety and style.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/8.jpg?updatedAt=1724252764573"
                alt="">
            <p>Our modern wiring solutions ensure efficient power distribution and reliability.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/9.jpeg?updatedAt=1724252764608"
                alt="">
            <p>Transform your home with our sleek and functional lighting designs that enhance every room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/6.jpg?updatedAt=1724252764456"
                alt="">
            <p>From installations to repairs, our electrical services deliver top-notch quality and performance.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/7.jpg?updatedAt=1724252764603"
                alt="">
            <p>Optimize your energy use with our smart home electrical solutions tailored to your needs.</p>
        </div>
        {{!-- <div class="imgs">
            <img loading="lazy" src="/images/electric-work/6.jpg" alt="">
            <p>Efficient and safe electrical setups are at the core of our professional services.</p>
        </div> --}}
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/7.jpeg?updatedAt=1724252764442"
                alt="">
            <p>Modernize your electrical system with our advanced technologies and expert craftsmanship.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electric-work/4.jpg?updatedAt=1724252762470"
                alt="">
            <p>Ensure your home’s electrical system is both functional and stylish with our custom solutions.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>