<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/electronic-products/1.jpeg" alt="">
            <p>Experience the future with our cutting-edge smart TV, offering stunning clarity and vibrant colors.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/2.jpeg" alt="">
            <p>Stay connected on the go with our sleek and powerful smartphone, built for modern life.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/3.jpeg" alt="">
            <p>Immerse yourself in crystal-clear sound with our premium wireless headphones.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/4.jpeg" alt="">
            <p>Revolutionize your home with our energy-efficient smart thermostat.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/5.jpeg" alt="">
            <p>Capture every moment in stunning detail with our high-resolution digital camera.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/6.jpeg" alt="">
            <p>Enjoy seamless gaming with our state-of-the-art gaming console, designed for ultimate performance.</p>
        </div>
        <div class="imgs">
            <img src="/images/electronic-products/8.webp" alt="">
            <p>Enhance your productivity with our ultra-lightweight and powerful laptop.</p>
        </div>
    </div>


    {{>footer}}
</body>

</html>