{{>header}}
<main>
    <div class="container">
        <h1 class="heading">Something went wrong,Please try again!!!</h1>
        <img class="error" src="/images/error.png" alt="Success">
        <h1>Error!</h1>
        <p>Please reach us and fill the form again </p>
        <a href="/" id="homeLink">Back to Home</a>
    </div>
</main>

{{>footer}}
<script src="/javascripts/script.js"></script>
</body>

</html>