<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    {{!--
    <link rel="stylesheet" href="/stylesheets/style.css"> --}}
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/6.jpg?updatedAt=1724252784377g" alt="">
            <p>Aesthetic Appeal: Defines the visual style and character of the building.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/4.jpg?updatedAt=1724252784380" alt="">
            <p>Material Choices: Can include brick, stone, stucco, wood, or metal.
            </p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/3.jpg?updatedAt=1724252784276" alt="">
            <p>Architectural Style: Reflects the design era, such as modern, colonial, or gothic.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/7.jpg?updatedAt=1724252784232" alt="">
            <p>Window Placement: Strategic positioning for natural light and ventilation.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/5.jpg?updatedAt=1724252784183" alt="">
            <p>Energy Efficiency: Incorporates insulation and energy-efficient windows and doors.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/2.jpg?updatedAt=1724252783984" alt="">
            <p>Experience hassle-free living with plumbing that’s expertly maintained and built to last.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/1.jpg?updatedAt=1724252784005" alt="">
            <p>Structural Integrity: Ensures the exterior is both attractive and stable.</p>
        </div>
        {{!-- <div class="imgs">
            <img src="/images/exterior/8.jpg" alt="">
            <p>Integration with Landscape: Complements the surrounding environment, such as gardens and pathways.</p>
        </div> --}}

    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>