<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/9.webp?updatedAt=1724252813017" alt="">
            <p>Elegant hardwood flooring that adds warmth and sophistication to any room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/5.jpeg?updatedAt=1724252812866" alt="">
            <p>Stylish tile flooring that offers both durability and a modern look.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/4.jpeg?updatedAt=1724252812862" alt="">
            <p>Luxurious marble flooring that brings timeless beauty to your space.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/3.jpeg?updatedAt=1724252812797" alt="">
            <p>Vinyl flooring that combines affordability with a sleek, polished finish.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/8.webp?updatedAt=1724252812916" alt="">
            <p>Cozy carpet flooring that provides comfort and style to living areas.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/6.jpeg?updatedAt=1724252812796" alt="">
            <p>Durable laminate flooring that mimics the look of natural wood.</p>
        </div>
<<<<<<< HEAD
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/7.jpeg?updatedAt=1724252812794" alt="">
            <p>Concrete flooring for an industrial, chic aesthetic that’s built to last.</p>
=======
<!--         <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/7.jpeg?updatedAt=1724252812794" alt="">
            <p>Concrete flooring for an industrial, chic aesthetic that’s built to last.</p> -->
>>>>>>> b1617775109e7c2f5bc97dd36d02cd3a2325e55e
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/10.jpg?updatedAt=1724252812639" alt="">
            <p>Environmentally friendly bamboo flooring that’s sustainable and stylish.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/2.jpg?updatedAt=1724252812597p" alt="">
            <p>Textured stone flooring that adds natural elegance to your interiors.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/flooring/1.avif?updatedAt=1724252812634" alt="">
            <p>Luxurious vinyl planks that offer the beauty of wood with easy maintenance.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>
