<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/flooring/1.avif" alt="">
            <p>Elegant hardwood flooring that adds warmth and sophistication to any room.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/2.jpg" alt="">
            <p>Stylish tile flooring that offers both durability and a modern look.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/3.jpeg" alt="">
            <p>Luxurious marble flooring that brings timeless beauty to your space.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/4.jpeg" alt="">
            <p>Vinyl flooring that combines affordability with a sleek, polished finish.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/5.jpeg" alt="">
            <p>Cozy carpet flooring that provides comfort and style to living areas.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/6.jpeg" alt="">
            <p>Durable laminate flooring that mimics the look of natural wood.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/7.jpeg" alt="">
            <p>Concrete flooring for an industrial, chic aesthetic that’s built to last.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/8.webp" alt="">
            <p>Environmentally friendly bamboo flooring that’s sustainable and stylish.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/9.webp" alt="">
            <p>Textured stone flooring that adds natural elegance to your interiors.</p>
        </div>
        <div class="imgs">
            <img src="/images/flooring/10.jpg" alt="">
            <p>Luxurious vinyl planks that offer the beauty of wood with easy maintenance.</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>