<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/8.webp?updatedAt=1724253843527" alt="">
            <p>Enhance your space with a gypsum ceiling that adds elegance and a touch of modern sophistication.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/6.jpg?updatedAt=1724253843348" alt="">
            <p>Transform your interiors with a gypsum ceiling that offers a seamless, sleek finish.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/7.jpg?updatedAt=1724253843370" alt="">
            <p>A gypsum ceiling brings versatility and style, creating a refined look for any room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/5.jpeg?updatedAt=1724253843299" alt="">
            <p>Create an atmosphere of luxury and comfort with a beautifully crafted gypsum ceiling.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/4.jpeg?updatedAt=1724253843362" alt="">
            <p>Gypsum ceilings—where durability meets design, providing a flawless and enduring finish.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/9.jpg?updatedAt=1724253843357" alt="">
            <p>Achieve a clean and polished look with a gypsum ceiling that enhances your interior's ambiance.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/2.jpeg?updatedAt=1724253843296" alt="">
            <p>A gypsum ceiling not only hides imperfections but also adds a touch of architectural elegance.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/3.jpeg?updatedAt=1724253843281" alt="">
            <p>Revitalize your living space with a gypsum ceiling that reflects modern trends and timeless appeal.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/1.jpg?updatedAt=1724253843288" alt="">
            <p>From intricate designs to smooth finishes, a gypsum ceiling offers endless creative possibilities.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/10.jpg?updatedAt=1724253842975" alt="">
            <p>Elevate your home's aesthetic with a gypsum ceiling that combines practicality with beauty.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>