<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/Logo.jpg" alt="">
        </div>
        <div class="menu">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Service</li>
                <li>Pages</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main_content">


            <div class="main_bg">
                <img src="/images/main_bg.webp" alt="">
            </div>
            <div class="content">
                <p>The Comfort Of Your Place <br>
                    Starts From Here</p>
                <br>
                <br>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nulla!</h3>

                <button class="get_started">Get Started</button>
            </div>
        </div>

        <div class="main_2_h1">
            <marquee behavior="alternate" direction="right">
                <p>Decor gives you more than your exprectation <span>✈️</span></p>
            </marquee>

            <div class="main_2">
                <img src="/images/interior-modern-design-room-3d.jpg" alt="">
                <div class="notice">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, placeat optio? Dolores modi, ea,
                        ab
                        illo vitae quis ad id totamfuga.</p>

                    <br><br>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>

                    <button class="get_started">About Us</button>
                </div>
            </div>
        </div>

        <br><br><br>
        <div class="main_service">
            <p>Our Services</p>
            <h1>The best designs start from here</h1>

            <div class="elementor-divider-separator">
                <div class="elementor-divider-separator-line"></div>
            </div>

            <div class="service">
                <div class="cards">
                    <div class="card">
                        <img src="/images/icons/interior-design.png" alt=""><br><br>
                        <h2>Interior Design</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/kitchen.png" alt=""><br><br>
                        <h2>Modular Kitchen</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/electrician.png" alt=""><br><br>
                        <h2>Electric Work</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="/images/icons/drainage.png" alt=""><br><br>
                        <h2> Plumbing </h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/Gypsum-board.png" alt=""><br><br>
                        <h2>Gypsum false Ceiling</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/paint-roller.png" alt=""><br><br>
                        <h2>Painting</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="/images/icons/tiles.png" alt=""><br><br>
                        <h2>Flooring</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/curtains.png" alt=""><br><br>
                        <h2>Curtains</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                    <div class="card">
                        <img src="/images/icons/computer.png" alt=""><br><br>
                        <h2>Electronic Products</h2><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <p>Our Portfolio</p>
            <h1>Recent Projects</h1>
            <div class="elementor-divider-separator">
                <div class="elementor-divider-separator-line"></div>
            </div>

            <div class="imgs">
                <div class="img">
                    <img src="/images/project_1.webp" alt="">
                    <img src="/images/project_2.webp" alt="">
                </div>
                <div class="img">
                    <img src="/images/project_3.webp" alt="">
                    <img src="/images/project_4.webp" alt="">
                </div>
            </div>

        </div>
        <div class="above_exp">

            <p>Our Experience</p>
            <h1>We will give the best
                interior design</h1>

            <div class="elementor-divider-separator">
                <div class="elementor-divider-separator-line"></div>
            </div>
        </div>
        <div class="experience">

            <div class="experience-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere natus sed officiis tempora omnis
                    tempore itaque eaque quo molestias dignissimos.
                </p>
            </div>
            <div class="experience-result">
                <div class="exp-cards">

                    <div class="exp-card">
                        <img src="/images/smile.png" alt="">
                        <p>500+</p>
                        <p>Clients</p>
                    </div>
                    <div class="exp-card">
                        <img src="/images/icons/interior-design.png" alt="">
                        <p>650+ </p>
                        <p>Project Clear</p>
                    </div>
                </div>
                <div class="exp-cards">

                    <div class="exp-card">
                        <img src="/images/icons/tiles.png" alt="">
                        <p>1450+ </p>
                        <p>Products Sales</p>
                    </div>
                    <div class="exp-card">
                        <img src="/images/reward.webp" alt="">
                        <p>450+ </p>
                        <p>Rewards</p>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="footer-company-info">
                <h2>Company Name</h2>
                <p>1234 Street Name,<br>City, State, 12345</p>
                <p>Email: info@company.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="footer-links">
                <h2>Useful Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
        </div>
    </footer>




</body>

</html>