{{> header}}
<main>
    <div class="main_content">
        <div class="main_bg">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/main_bg.webp?updatedAt=1724252700093" alt=""
                class="fade-in-image">

        </div>

        <div class="content">
            <p class="slide-in-text">The Comfort Of Your Place Starts From Here</p>

            <button class="get_started bounce-in-button"><a href="/Service">Get Started</a></button>
        </div>
    </div>


    <div class="main_2_h1">
        {{!-- <marquee behavior="alternate" direction="right" class="marquee-animation"> --}}
            <p><span>✈️</span>Designs that Turn Your Dreams into Stunning Realities.<span>✈️</span></p>
            {{!--
        </marquee> --}}

        <div class="main_2">
            <div class="slider-wrapper">
                <div class="slider-images">

                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen_interior.jpg?updatedAt=1724252697135"
                        alt="" class="zoom-in-image">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/living.jpeg?updatedAt=1724252697261">
                    <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/100.jpg?updatedAt=1724350052696"
                        alt="" class="zoom-in-image">
                    <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/6.jpg?updatedAt=1724252875078"
                        alt="" class="zoom-in-image">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/bathroom_interior.jpeg?updatedAt=1724252694369"
                        alt="" class="zoom-in-image">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/Bedroom-Interior-Design.jpg?updatedAt=1724252694494"
                        alt="" class="zoom-in-image">
                </div>
            </div>
        </div>

    </div>

    <div class="design_gallery">
        <h1>Design Gallery</h1>
        <p>If you are on the look out for simple home interior designs, look no further than Oraclee Infra for
            end-to-end
            interior design services.</p>
        <div class="gallery_cards">
            <div class="gallery_card">
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/2.jpg?updatedAt=1724252903157"
                        alt="">
                    <h3>Modular Kitchen</h3>
                </div>
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/7.jpg?updatedAt=1724253843370"
                        alt="">
                    <h3>Gypsum Ceiling</h3>
                </div>
            </div>
            <div class="gallery_card">
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/3.jpg?updatedAt=1724252875140">
                    <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/10.jpg?updatedAt=1724349939416"
                        alt="">
                    <h3>Living Room</h3>
                </div>
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/1.jpg?updatedAt=1724252852380"
                        alt="">
                    <h3> Interior Design</h3>
                </div>
            </div>
            <div class="gallery_card">
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/2.jpeg?updatedAt=1724252875045"
                        alt="">
                    <h3> Living Room</h3>
                </div>
                <div class="gallery_card_left">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/9.jpeg?updatedAt=1724252922557"
                        alt="">
                    <h3>Painting</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="main_service">
        <p class="fade-in">Our Services</p>
        <h1 class="fade-in-delay">The best designs start from here</h1>
        <div class="elementor-divider-separator slide-in-divider">
            <div class="elementor-divider-separator-line"></div>
        </div>
        <button class="service_btn"><a href="/Service">See all</a></button>

        <div class="service">
            <div class="seperate_service">
                <h2>Interior Designes</h2>
                <p>Your home should tell the story of who you are, and be a collection of what you love.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/1.jpg?updatedAt=1724252852380"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/2.jpg?updatedAt=1724252852470">
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/10.jpg?updatedAt=1724350316514"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/3.jpg?updatedAt=1724252852305"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/5.webp?updatedAt=1724252852569"
                            alt="">
                        {{!-- <img loading="lazy" src="/images/interior-design/6.webp" alt=""> --}}
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/8?updatedAt=1724252852592"
                            alt="">
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>

            <div class="seperate_service">
                <h2>Modular Kitchen</h2>
                <p>A well-designed modular kitchen is the heart of the home, where functionality meets aesthetics.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/5.webp?updatedAt=1724252903559"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/6.jpg?updatedAt=1724252903458"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/8.avif?updatedAt=1724252903505"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/10.jpeg?updatedAt=1724252903439"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/10.jpeg?updatedAt=1724252903439"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/3.jpg?updatedAt=1724252903299">
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/100.jpg?updatedAt=1724350052696"
                            alt="">
                        <!--                         <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/10.jpeg?updatedAt=1724252903439"
                            alt=""> -->
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/3.jpg?updatedAt=1724252903299"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/1.jpg?updatedAt=1724252903319"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/2.jpg?updatedAt=1724252903157"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/9.webp?updatedAt=1724252903247"
                            alt="">
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="seperate_service">
                <h2>Exterior Elevation</h2>
                <p>Elevate your space with exterior designs that blend elegance and durability, transforming every
                    glance into a statement of style.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/6.jpg?updatedAt=1724252784377g"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/4.jpg?updatedAt=1724252784380"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/3.jpg?updatedAt=1724252784276"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/7.jpg?updatedAt=1724252784232"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/5.jpg?updatedAt=1724252784183"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/2.jpg?updatedAt=1724252783984"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/exterior/1.jpg?updatedAt=1724252784005"
                            alt="">
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="seperate_service">
                <h2>Panelling</h2>
                <p>Modern paneling adds depth and texture to your interiors, creating a sophisticated backdrop that
                    enhances the beauty of any space.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/5.jpg?updatedAt=1724254553481"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/1.jpg?updatedAt=1724254553458"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/4.jpg?updatedAt=1724254553456"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/3.jpg?updatedAt=1724254553434"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/2.jpg?updatedAt=1724254553541"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/panelling/6.jpg?updatedAt=1724254553545"
                            alt="">
                        {{!-- <img loading="lazy" src="/images/panelling/7.jpg" alt=""> --}}
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="seperate_service">
                <h2>Gypsum Ceiling </h2>
                <p>The beauty of a gypsum ceiling lies in its versatility, allowing for endless possibilities in design
                    and texture.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/8.webp?updatedAt=1724253843527"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/6.jpg?updatedAt=1724253843348"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/7.jpg?updatedAt=1724253843370"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/5.jpeg?updatedAt=1724253843299"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/4.jpeg?updatedAt=1724253843362"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/9.jpg?updatedAt=1724253843357"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/2.jpeg?updatedAt=1724253843296"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/3.jpeg?updatedAt=1724253843281"
                            alt="">
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/10.jpg?updatedAt=1724350724832"
                            alt="">
                        <!--                         <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/4.jpeg?updatedAt=1724253843362"
                            alt=""> -->
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/9.jpg?updatedAt=1724253843357"
                            alt="">
                        <!--                         <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/2.jpeg?updatedAt=1724253843296"
                            alt="">
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/gypsum/3.jpeg?updatedAt=1724253843281"
                            alt=""> -->
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="seperate_service">
                <h2>Living Rooms</h2>
                <p>A living room is not just a place to sit; it’s a place to live, laugh, and create memories.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/2.jpeg?updatedAt=1724252875045"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/1.jpg?updatedAt=1724252874947"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/6.jpg?updatedAt=1724252875078"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/5.jpg?updatedAt=1724252875110"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/4.jpeg?updatedAt=1724252875136"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/3.jpg?updatedAt=1724252875140"
                            alt="">
                        {{!-- <img loading="lazy" src="/images/living-room/6.jpg" alt=""> --}}
                        <!--                         <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/4.jpeg?updatedAt=1724252875136"
                            alt=""> -->
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/10.jpg?updatedAt=1724349939416"
                            alt="">
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="seperate_service">
                <h2>Painting</h2>
                <p>A room without a painting is like a book without a story.</p>
                <div class="service_slider">
                    <button class="prev">&larr;</button>
                    <div class="service_images">
                        {{!-- <img loading="lazy" src="/images/painting/1.jpeg" alt=""> --}}
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/7.jpg?updatedAt=1724252922663"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/6.jpg?updatedAt=1724252922657"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/3.jpg?updatedAt=1724252922590"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/5.jpg?updatedAt=1724252922588"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/9.jpeg?updatedAt=1724252922557"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/4.jpg?updatedAt=1724252922562">
                        <!--
                                <img
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/9.jpeg?updatedAt=1724252922557"
                                alt=""> -->
                        <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/4.jpg?updatedAt=1724252922562"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/10.jpg?updatedAt=1724252922509"
                            alt="">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/2.jpg?updatedAt=1724252922298"
                            alt="">
                        <!--                         <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/2.jpg?updatedAt=1724252922298"
                            alt=""> -->
                    </div>
                    <button class="next">&rarr;</button>
                </div>
                <div class="pagination"></div>
                <div class="seperate_service">
                    <h2>Pooja Room</h2>
                    <p>A room without a painting is like a book without a story.</p>
                    <div class="service_slider">
                        <button class="prev">&larr;</button>
                        <div class="service_images">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/1.jpg?updatedAt=1724252972255"
                                alt="">
                            {{!-- <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/4.jpeg?updatedAt=1724252972297"
                                alt="">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/9.jpeg?updatedAt=1724252972208"
                                alt=""> --}}
                            {{!-- <img loading="lazy" src="/images/pooja-room/4.jpg" alt=""> --}}
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/6.avif?updatedAt=1724252972449"
                                alt="">
                            {{!-- <img loading="lazy" src="/images/pooja-room/6.avif" alt=""> --}}
                            {{!-- <img loading="lazy" src="/images/pooja-room/7.jpg" alt=""> --}}
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/2.jpg?updatedAt=1724252972367">
                            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/10.webp?updatedAt=1724351085513"
                                alt="">
                            {{!-- <img
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/11.webp?updatedAt=1724351147157"
                                alt=""> --}}
                            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/6.avif?updatedAt=1724252972449"
                                alt="">
                            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/2.jpg?updatedAt=1724252972367"
                                alt="">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/8.jpg?updatedAt=1724252972438"
                                alt="">
                        </div>
                        <button class="next">&rarr;</button>
                    </div>
                    <div class="pagination"></div>
                </div>
            </div>

        </div>

        <div class="portfolio fade-in">
            <p>Our Portfolio</p>
            <h1 class="fade-in-delay">Recent Projects</h1>
            <div class="elementor-divider-separator slide-in-divider">
                <div class="elementor-divider-separator-line"></div>
            </div>

            <div class="imgs">
                <div class="img fade-up">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/project_1.webp?updatedAt=1724252699861"
                        alt="">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/project_2.webp?updatedAt=1724252700165"
                        alt="">
                </div>
                <div class="img fade-up">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/project_3.webp?updatedAt=1724252700745"
                        alt="">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/e1xixshdx/Interior-design/project_4.webp?updatedAt=1724252702177"
                        alt="">
                </div>
            </div>
        </div>

        <div class="above_exp">

            <p>Our Experience</p>
            <h1>We will give the best
                interior design</h1>

            <div class="elementor-divider-separator">
                <div class="elementor-divider-separator-line"></div>
            </div>
        </div>
        <div class="experience">

            <div class="experience-content">
                <p>We specialize in creating bespoke interior designs that perfectly blend style and functionality.
                    Trust us
                    to transform your space into a stunning reflection of your taste and personality.
                </p>
            </div>
            <div class="experience-result">
                <div class="exp-cards">

                    <div class="exp-card">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/smile.png?updatedAt=1724252702284"
                            alt="">
                        <p>500+</p>
                        <p>Clients</p>
                    </div>
                    <div class="exp-card">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/icons/interior-design.png?updatedAt=1724252834214"
                            alt="">
                        <p>650+ </p>
                        <p>Project Clear</p>
                    </div>
                </div>
                <div class="exp-cards">

                    <div class="exp-card">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/icons/tiles.png?updatedAt=1724252834223"
                            alt="">
                        <p>1450+ </p>
                        <p>Products Sales</p>
                    </div>
                    <div class="exp-card">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/reward.webp?updatedAt=1724252702195"
                            alt="">
                        <p>450+ </p>
                        <p>Rewards</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="process">
            <div class="top-process">

                <h1>How our Process works</h1>
                <div class="elementor-divider-separator">
                    <div class="elementor-divider-separator-line"></div>
                </div>
                <p>We take the stress out of the process by being the best home interior designer in Uttar Pradesh with
                    our
                    transparent and collaborative process. We begin with a comprehensive work plan outlining your
                    project's
                    objectives, timeline, budget, and resources. Our team of home interior designer in Uttar Pradesh
                    will
                    meticulously assess your space and present various design plans tailored to your vision and style.
                    We
                    handle everything, from painting and structural renovations to furnishing, ensuring a seamless and
                    successful project.</p>
            </div>
            <div class="process-cards">
                <div class="process-card">
                    <div class="process-card-image">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/one.png?updatedAt=1724252699534"
                            alt="">
                    </div>
                    <div class="process-card-content">

                        <h2>Book Free Consultation</h2>
                        <p>Discuss your needs, preferences, and budget</p>
                    </div>
                </div>
                <div class="process-card">
                    <div class="process-card-image">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/two.png?updatedAt=1724252702498"
                            alt="">
                    </div>
                    <div class="process-card-content">

                        <h2>Get Quote</h2>
                        <p>Get customised quote with material specifications</p>
                    </div>
                </div>
                <div class="process-card">
                    <div class="process-card-image">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/three.png?updatedAt=1724252702946"
                            alt="">
                    </div>
                    <div class="process-card-content">

                        <h2>Place Order</h2>
                        <p>Finalise commercial & let our Team take it from here.</p>
                    </div>
                </div>
                <div class="process-card">
                    <div class="process-card-image">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/four.webp?updatedAt=1724252696971"
                            alt="">
                    </div>
                    <div class="process-card-content">

                        <h2>Installation Begins</h2>
                        <p>A team of highly trained professionals will build your dream design</p>
                    </div>
                </div>
                <div class="process-card">
                    <div class="process-card-image">
                        <img loading="lazy"
                            src="https://ik.imagekit.io/e1xixshdx/Interior-design/five.png?updatedAt=1724252696810"
                            alt="">
                    </div>
                    <div class="process-card-content">

                        <h2>Move-in</h2>
                        <p>Now cherish your dream home design with Oraclee Infra</p>
                    </div>
                </div>
            </div>

            <div class="book">
                <button><a href="/Contact">
                        Book your Consultation </a>
                </button>
            </div>

        </div>

        <div class="partners">
            <h1>Our trusted partners</h1><br>
            <p>Collaborating with Premier Interior Designers in Uttar Pradesh for Unparalleled Excellence</p>
            <div class="elementor-divider-separator">
                <div class="elementor-divider-separator-line"></div>
            </div>
            <div class="company">
                <div class="marquee">
                    <div class="marquee-content">
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/centuryply.png?updatedAt=1724252694264"
                                alt="Centuryply">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electrolux.png?updatedAt=1724252694337"
                                alt="Electrolux">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/greenply.avif?updatedAt=1724252696993"
                                alt="Greenply">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/hettich.png?updatedAt=1724252696983"
                                alt="Hettich">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/fevicol.png?updatedAt=1724252694364"
                                alt="Fevicol">
                        </div>
                        <!-- Repeat the logos to make the marquee loop smoothly -->
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/centuryply.png?updatedAt=1724252694264"
                                alt="Centuryply">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/electrolux.png?updatedAt=1724252694337"
                                alt="Electrolux">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/greenply.avif?updatedAt=1724252696993"
                                alt="Greenply">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/hettich.png?updatedAt=1724252696983"
                                alt="Hettich">
                        </div>
                        <div class="company-logo">
                            <img loading="lazy"
                                src="https://ik.imagekit.io/e1xixshdx/Interior-design/fevicol.png?updatedAt=1724252694364"
                                alt="Fevicol">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="faq-section">
            <h1>Frequently Asked Questions</h1>
            <div class="faq-item">
                <div class="faq-question">
                    <span>What is home interior design?</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="faq-answer">
                    <p>Home interior design involves the creation of aesthetically pleasing and functional living spaces
                        within a home, including the selection of furniture, color schemes, and decorative elements.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>Which is the best home interior design company in Uttar Pradesh?</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="faq-answer">
                    <p>There are several reputed interior design companies in Uttar Pradesh. It's best to research and
                        choose one based on their portfolio, customer reviews, and your specific requirements.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>Who are the top interior designers in Uttar Pradesh?</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="faq-answer">
                    <p>Some of the top interior designers in Uttar Pradesh include professionals and firms with a proven
                        track record of delivering exceptional home interiors. It's advisable to review their portfolios
                        and client testimonials.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>How much do interior designers charge in Uttar Pradesh?</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="faq-answer">
                    <p>The charges of interior designers in Uttar Pradesh vary based on the scope of the project,
                        materials
                        used, and the designer's experience. It's recommended to get quotes from multiple designers
                        before making a decision.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>Is it expensive to hire an interior designer in Uttar Pradesh?</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="faq-answer">
                    <p>The cost of hiring an interior designer in Uttar Pradesh can vary widely. While some designers
                        may be
                        expensive, others offer budget-friendly options. The overall cost depends on the complexity and
                        scale of the project.</p>
                </div>
            </div>
        </section>

</main>

{{>footer}}

<script src="/javascripts/script.js"></script>
</body>

</html>