<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/5.webp?updatedAt=1724252852569"
                alt="">
            <p>Transform your space with the colors of the Indian tricolor. Use saffron for warmth and energy, white for
                peace and balance, and green for a fresh, natural touch.</p>
        </div>
        
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/10.jpg?updatedAt=1724350316514"
                alt="">
            <p>Elevate your living space with our curated interior design samples, where elegance meets innovation.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/8?updatedAt=1724252852592"
                alt="">
            <p>Discover your dream home style with our stunning interior design samples, tailored to inspire.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/3.jpg?updatedAt=1724252852305"
                alt="">
            <p>Embrace simplicity with our sleek, minimalistic interiors that exude contemporary
                elegance.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/interior-design/1.jpg?updatedAt=1724252852380"
                alt="">
            <p>Experience opulence with our luxurious interiors, crafted to offer unparalleled comfort
                and style.</p>
        </div>
    </div>

    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>
