<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/kitchen/1.jpg" alt="">
            <p>Discover the art of cooking in a kitchen that’s designed to fit your lifestyle perfectly.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/2.jpg" alt="">
            <p>Maximize your kitchen’s potential with smart storage solutions and innovative modular design elements.
            </p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/3.jpg" alt="">
            <p>Enjoy seamless functionality and stunning aesthetics with our expertly crafted modular kitchen interiors
            </p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/4.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/5.webp" alt="">
            <p>Transform your cooking space into a modern masterpiece with our sleek, functional modular kitchen
                designs.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/6.jpg" alt="">
            <p>Experience the perfect blend of style and convenience with custom modular kitchens tailored to your
                needs.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/7.avif" alt="">
            <p>Create a culinary haven where every detail is designed for efficiency and elegance.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/8.avif" alt="">
            <p>Enjoy seamless functionality and stunning aesthetics with our expertly crafted modular kitchen interiors.
            </p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/9.webp" alt="">
            <p>Unleash your inner chef in a space designed for ease, efficiency, and endless inspiration.</p>
        </div>
        <div class="imgs">
            <img src="/images/kitchen/10.jpeg" alt="">
            <p>Our modular kitchens combine contemporary design with unmatched versatility for a space that truly works
                for you.</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>