<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/4.jpg?updatedAt=1724252903445" alt="">
            <p>Modernize your cooking space with a sleek modular kitchen that blends style and functionality
                seamlessly.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/5.webp?updatedAt=1724252903559" alt="">
            <p>Maximize your kitchen’s potential with smart storage solutions and innovative modular design elements.
            </p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/6.jpg?updatedAt=1724252903458" alt="">
            <p>Enjoy seamless functionality and stunning aesthetics with our expertly crafted modular kitchen interiors
            </p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/8.avif?updatedAt=1724252903505" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/10.jpeg?updatedAt=1724252903439" alt="">
            <p>Transform your cooking space into a modern masterpiece with our sleek, functional modular kitchen
                designs.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/10.jpeg?updatedAt=1724252903439" alt="">
            <p>Experience the perfect blend of style and convenience with custom modular kitchens tailored to your
                needs.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/3.jpg?updatedAt=1724252903299" alt="">
            <p>Create a culinary haven where every detail is designed for efficiency and elegance.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/1.jpg?updatedAt=1724252903319" alt="">
            <p>Enjoy seamless functionality and stunning aesthetics with our expertly crafted modular kitchen interiors.
            </p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/2.jpg?updatedAt=1724252903157" alt="">
            <p>Unleash your inner chef in a space designed for ease, efficiency, and endless inspiration.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/kitchen/9.webp?updatedAt=1724252903247" alt="">
            <p>Our modular kitchens combine contemporary design with unmatched versatility for a space that truly works
                for you.</p>
        </div>
    </div>


    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>