<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/3.jpg?updatedAt=1724252875140"
                alt="">
            <p>Craft a living room that reflects your personality with designs that blend comfort and style
                effortlessly.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/4.jpeg?updatedAt=1724252875136"
                alt="">
            <p>Transform your living space into a sanctuary of warmth and elegance, perfect for both relaxation and
                gatherings.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/5.jpg?updatedAt=1724252875110"
                alt="">
            <p>Experience the perfect harmony of aesthetics and functionality in your living room, where every detail
                speaks of luxury.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/6.jpg?updatedAt=1724252875078"
                alt="">
            <p>Create a living room that invites conversation and exudes a welcoming ambiance with our bespoke interior
                solutions.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/1.jpg?updatedAt=1724252874947"
                alt="">
            <p>Elevate your living room with designs that combine modern sophistication with timeless charm.</p>
        </div>
        <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/living-room/2.jpeg?updatedAt=1724252875045"
                alt="">
            <p>Design a living room that's not just a space, but an experience of cozy elegance and refined comfort.</p>
        </div>
    </div>

    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>