<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/7.jpg?updatedAt=1724252922663" alt="">
            <p>Breathe life into your walls with vibrant colors that transform your space into a canvas of expression.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/6.jpg?updatedAt=1724252922657" alt="">
            <p>Elevate your interiors with painting that adds depth, character, and a splash of creativity to every
                room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/3.jpg?updatedAt=1724252922590" alt="">
            <p>Turn your home into a gallery with expertly chosen colors that reflect your unique style and personality.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/5.jpg?updatedAt=1724252922588" alt="">
            <p>Let the power of color redefine your space, creating a harmonious and inviting atmosphere in every room.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/9.jpeg?updatedAt=1724252922557" alt="">
            <p>With the right paint, your walls can tell a story of elegance, warmth, and contemporary charm.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/4.jpg?updatedAt=1724252922562" alt="">
            <p>Choose colors that not only decorate but also enhance the mood and ambiance of every room.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/10.jpg?updatedAt=1724252922509" alt="">
            <p>A fresh coat of paint is more than just a change in color—it's a transformation of your entire living
                experience.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/2.jpg?updatedAt=1724252922298" alt="">
            <p>Paint your world with shades that reflect tranquility, passion, or modern elegance, creating a space you
                love.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/painting/9.jpeg?updatedAt=1724252922557" alt="">
            <p>Revitalize your interiors with paint that brings a new dimension of style and sophistication to your
                home.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>