<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/panelling/1.jpg" alt="">
            <p>Aesthetic Enhancement: Paneling adds visual appeal to interiors by introducing texture, patterns, and
                depth to walls and ceilings.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/2.jpg" alt="">
            <p>Material Variety: It can be made from various materials like wood, MDF, PVC, or metal, each offering
                different styles and finishes.
            </p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/3.jpg" alt="">
            <p>Durability: Paneling protects walls from damage and wear, making it a durable option for high-traffic
                areas.
            </p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/4.jpg" alt="">
            <p>Insulation: Certain types of paneling provide added insulation, helping to maintain temperature and
                reduce energy costs.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/5.jpg" alt="">
            <p>Easy Maintenance: Panels are generally easy to clean and maintain, often requiring just a simple
                wipe-down.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/6.jpg" alt="">
            <p>Acoustic Benefits: Some paneling materials, especially wooden ones, can improve room acoustics by
                reducing noise and echo.</p>
        </div>
        {{!-- <div class="imgs">
            <img src="/images/panelling/7.jpeg" alt="">
            <p>Versatile Design: Paneling can be used in various settings, from traditional to modern interiors, fitting
                into different design themes.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/7.webp" alt="">
            <p>Insulation: Certain types of paneling provide added insulation, helping to maintain temperature and
                reduce energy costs.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/8.jpeg" alt="">
            <p>Value Addition: Well-designed paneling can increase the overall value of a property by enhancing its
                visual and functional appeal.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/9.png" alt="">
            <p>Installation Flexibility: It can be installed vertically, horizontally, or even diagonally, allowing for
                creative and customized designs.</p>
        </div>
        <div class="imgs">
            <img src="/images/panelling/10.webp" alt="">
            <p>Concealment: Paneling can hide imperfections in walls, such as cracks, uneven surfaces, or wiring, for a
                cleaner appearance.</p>
        </div> --}}
    </div>



    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>