<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/5.jpeg?updatedAt=1724252942303" alt="">
            <p>Reliable plumbing solutions that ensure your home runs smoothly, with water flowing just where you need
                it.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/1.jpg?updatedAt=1724252942442" alt="">
            <p>Expert plumbing services to keep your pipes, fixtures, and systems in perfect working order, every day.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/10.webp?updatedAt=1724252942469" alt="">
            <p>From repairs to installations, our plumbing services provide peace of mind and uninterrupted comfort.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/2.jpg?updatedAt=1724252942474" alt="">
            <p>Ensure a worry-free home with plumbing that’s designed for efficiency, reliability, and longevity.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/1.webp?updatedAt=1724252942518" alt="">
            <p>Our professional plumbing services deliver clean, clear water where you need it, with no leaks or
                hassles.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/5.jpg?updatedAt=1724252942578" alt="">
            <p>Experience hassle-free living with plumbing that’s expertly maintained and built to last.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/3.jpg?updatedAt=1724252942481" alt="">
            <p>Let our plumbing experts handle the hard work, ensuring your water flows smoothly and efficiently.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/3.jpeg?updatedAt=1724252942663" alt="">
            <p>From minor leaks to major installations, we provide comprehensive plumbing care for every need.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/2.webp?updatedAt=1724252942718" alt="">
            <p>Trust our plumbing services to keep your home safe, dry, and fully functional, day in and day out.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/6.jpeg?updatedAt=1724252944893" alt="">
            <p>Ensure a worry-free home with plumbing that’s designed for efficiency, reliability, and longevity.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/plumbing/4.jpg?updatedAt=1724252942697" alt="">
            <p>Experience hassle-free living with plumbing that’s expertly maintained and built to last.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>