<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/plumbing/1.jpg" alt="">
            <p>Reliable plumbing solutions that ensure your home runs smoothly, with water flowing just where you need
                it.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/2.jpg" alt="">
            <p>Expert plumbing services to keep your pipes, fixtures, and systems in perfect working order, every day.
            </p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/3.jpg" alt="">
            <p>From repairs to installations, our plumbing services provide peace of mind and uninterrupted comfort.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/4.jpg" alt="">
            <p>Ensure a worry-free home with plumbing that’s designed for efficiency, reliability, and longevity.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/5.jpeg" alt="">
            <p>Our professional plumbing services deliver clean, clear water where you need it, with no leaks or
                hassles.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/6.jpeg" alt="">
            <p>Experience hassle-free living with plumbing that’s expertly maintained and built to last.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/7.jpeg" alt="">
            <p>Let our plumbing experts handle the hard work, ensuring your water flows smoothly and efficiently.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/7.webp" alt="">
            <p>From minor leaks to major installations, we provide comprehensive plumbing care for every need.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/8.jpeg" alt="">
            <p>Trust our plumbing services to keep your home safe, dry, and fully functional, day in and day out.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/9.png" alt="">
            <p>Ensure a worry-free home with plumbing that’s designed for efficiency, reliability, and longevity.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/10.webp" alt="">
            <p>Experience hassle-free living with plumbing that’s expertly maintained and built to last.</p>
        </div>
    </div>

    {{>footer}}
    <script src="/javascripts/script.js"></script>
</body>

</html>