<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img src="/images/plumbing/1.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/2.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/3.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/4.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/5.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/6.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/7.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/7.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/8.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/9.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
        <div class="imgs">
            <img src="/images/plumbing/10.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dolore.</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>