<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/5.avif?updatedAt=1724252972527" alt="">
            <p>Create a serene and sacred space in your home with a beautifully designed pooja room that invites peace.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/8.jpg?updatedAt=1724252972438" alt="">
            <p>Your pooja room, a sanctuary of devotion, designed to inspire spirituality and tranquility every day.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/2.jpg?updatedAt=1724252972367" alt="">
            <p>Transform your pooja room into a divine corner that radiates positive energy and blessings.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/6.avif?updatedAt=1724252972449" alt="">
            <p>A pooja room that harmonizes tradition with modern design, fostering a space for prayer and meditation.
            </p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/4.jpeg?updatedAt=1724252972297" alt="">
            <p>Craft a pooja room that reflects your faith, with every element thoughtfully designed for spiritual
                upliftment.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/1.jpg?updatedAt=1724252972255" alt="">
            <p> Let your pooja room be a beacon of peace and devotion, thoughtfully designed for moments of prayer.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/pooja-room/9.jpeg?updatedAt=1724252972208" alt="">
            <p>Design a pooja room that echoes serenity, where rituals meet reverence in a sacred ambiance.</p>
        </div>
    </div>

    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>