{{>header}}
<main>
    <section class="services-hero">
        <img src="/images/service_bg.jpg" alt="">
        <div class="hero-content">
            <h1>Our Services</h1>
            <p>Designing Spaces that Reflect Your Style</p>
        </div>
    </section>

    <section class="services-list">
        <div class="container">

            <div class="service-item">
                <a href="/interior-design">
                    <img src="/images/modular_interior.jpeg" alt="Modular Interiors">
                </a>
                <div class="service-content">
                    <h2>Modular Interiors</h2>
                    <p>Our modular interiors are designed to maximize space efficiency and offer flexibility for future
                        modifications. We use high-quality materials and modern designs to create stylish and functional
                        spaces.</p>
                </div>
            </div>

            <div class="service-item">
                <a href="/kitchen">
                    <img src="/images/kitchen_interior.jpg" alt="Kitchen Interiors">
                </a>
                <div class="service-content">
                    <h2>Kitchen Interiors</h2>
                    <p>Our kitchen interiors are designed to be both beautiful and practical. From custom cabinetry to
                        efficient layouts, we ensure your kitchen is a pleasure to cook and entertain in.</p>
                </div>
            </div>
            <div class="service-item">
                <a href="/exterior-elevation">
                    <img src="/images/exterior/3.jpg" alt="Exterior Elevation designs">
                </a>
                <div class="service-content">
                    <h2>Exterior Eleveation</h2>
                    <p>Elevate your space with exterior designs that blend elegance and durability, transforming every
                        glance into a statement of style.</p>
                </div>
            </div>
            <div class="service-item">
                <a href="/panelling">
                    <img src="/images/panelling/1.jpg" alt="Panelling Interiors">
                </a>
                <div class="service-content">
                    <h2>Panelling</h2>
                    <p>Modern paneling adds depth and texture to your interiors, creating a sophisticated backdrop that
                        enhances the beauty of any space.</p>
                </div>
            </div>

            <div class="service-item">
                <a href="/bedroom">
                    <img src="/images/Bedroom-Interior-Design.jpg" alt="Bedroom Interiors">
                </a>
                <div class="service-content">
                    <h2>Bedroom Interiors</h2>
                    <p>We create serene and comfortable bedroom interiors that promote relaxation. Our designs include
                        custom wardrobes, bed designs, and smart storage solutions to make your bedroom a peaceful
                        retreat.</p>
                </div>
            </div>

            <div class="service-item">
                <a href="/living-room">
                    <img src="/images/living.jpeg" alt="Living Room Interiors">
                </a>
                <div class="service-content">
                    <h2>Living Room Interiors</h2>
                    <p>Our living room interiors are designed to be inviting and functional, perfect for entertaining
                        guests or relaxing with family. We focus on creating harmonious spaces with stylish furniture
                        and decor.</p>
                </div>
            </div>
            <div class="service-item">
                <a href="/plumbing">
                    <img src="/images/plumbing/1.jpg" alt="Plumbing">
                </a>
                <div class="service-content">
                    <h2>Plumbing</h2>
                    <p>Effective plumbing is the backbone of any building, ensuring seamless water flow and the
                        functionality of every vital system.</p>
                </div>
            </div>
            <div class="service-item">
                <a href="/flooring">
                    <img src="/images/flooring/8.webp" alt="Flooring Interiors">
                </a>
                <div class="service-content">
                    <h2>Flooring</h2>
                    <p>Our Flooring interiors are designed to be inviting and functional, perfect for entertaining
                        guests or relaxing with family. We focus on creating harmonious spaces with stylish furniture
                        and decor.</p>
                </div>
            </div>
            <div class="service-item">
                <a href="/electric-work">
                    <img src="/images/electric-work/1.jpg" alt="Electric-Works">
                </a>
                <div class="service-content">
                    <h2>Electric-Works</h2>
                    <p>Precision in electrical work powers the heart of a building, ensuring safety, efficiency, and the
                        seamless operation of modern life</p>
                </div>
            </div>
            <div class="service-item">
                <a href="wooden-work">
                    <img src="/images/wooden-work/8.jpeg" alt="Living Room Interiors">
                </a>
                <div class="service-content">
                    <h2>Wooden work Interiors</h2>
                    <p>Our living room interiors are designed to be inviting and functional, perfect for entertaining
                        guests or relaxing with family. We focus on creating harmonious spaces with stylish furniture
                        and decor.</p>
                </div>
            </div>

            <div class="service-item">
                <a href="/bathroom">
                    <img src="/images/bathroom_interior.jpeg" alt="Bathroom Interiors">
                </a>
                <div class="service-content">
                    <h2>Bathroom Interiors</h2>
                    <p>We design luxurious and functional bathroom interiors, incorporating high-quality fixtures and
                        fittings. Our designs aim to create a spa-like experience in the comfort of your home.</p>
                </div>
            </div>

            <div class="service-item">
                <a href="/pooja">
                    <img src="/images/pooja_interior.avif" alt="Pooja Room Interiors">
                </a>
                <div class="service-content">
                    <h2>Pooja Room Interiors</h2>
                    <p>Our pooja room interiors are designed to be serene and spiritual. We use traditional and
                        contemporary designs to create a space that is perfect for your daily prayers and rituals.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{{>footer}}
<script src="/javascripts/script.js"></script>
</body>

</html>
