{{>header}}
<main>
    <div class="container">
        <h1>We will contact you soon !!!</h1>
        <img class="success" src="/images/success.png" alt="Success" class="success-image">
        <h1>Success!</h1>
        <p>Your message has been sent successfully.</p>
        <a href="/" id="homeLink">Back to Home</a>
    </div>
</main>

{{>footer}}
<script src="/javascripts/script.js"></script>
</body>

</html>