<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Work Samples</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sample_style.css">
</head>

<body>
    {{>navbar}}
    <h1>Our Interior Design looks like </h1>
    <div class="sample_img">
<<<<<<< HEAD
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/2.png?updatedAt=1724252992743" alt="">
=======
<!--         <div class="imgs">
            <img src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/2.png?updatedAt=1724252992743"
                alt="">
>>>>>>> b1617775109e7c2f5bc97dd36d02cd3a2325e55e
            <p>Enhance your interiors with exquisite wooden work that brings warmth and elegance to every corner.</p>
        </div> -->
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/7.jpeg?updatedAt=1724252992642"
                alt="">
            <p>Craftsmanship in wood that transforms your space, adding timeless beauty and natural charm.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/1.jpeg?updatedAt=1724252992604"
                alt="">
            <p>Craftsmanship in wood that transforms your space, adding timeless beauty and natural charm.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/8.jpeg?updatedAt=1724252992600"
                alt="">
            <p>Wooden work that tells a story of artistry, adding character and sophistication to your home.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/6.jpg?updatedAt=1724252992475" alt="">
            <p>Bring nature indoors with bespoke wooden work that combines style with durability.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/4.webp?updatedAt=1724252992663"
                alt="">
            <p>Elevate your interiors with custom wooden work that blends seamlessly with your aesthetic vision.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/3.webp?updatedAt=1724252992615"
                alt="">
            <p>Discover the beauty of handcrafted wooden work, tailored to bring warmth and texture to your space.</p>
        </div>
        <div class="imgs">
            <img loading="lazy"
                src="https://ik.imagekit.io/e1xixshdx/Interior-design/wooden-work/5.avif?updatedAt=1724252992276"
                alt="">
            <p>Wooden work that stands the test of time, adding a touch of luxury and comfort to your home.</p>
        </div>
    </div>

    {{>footer}}

    <script src="/javascripts/script.js"></script>
</body>

</html>
